.flag{
    width:100%;
   height: 10rem;
}
.info{
    padding: 1rem;
}
.container{
    width: 15rem;
    border-radius: 2rem;
    overflow: hidden;
   
 }
.info span{
    font-weight: bold;
    box-shadow:grey;
}
body{
    background:whitesmoke;
    font-family: "Roboto","Neue";
    display:flex;
    gap: 10px;
    justify-content: space-around;
}